---
import SubscribeButton from "../preact-components/SubscribeButton";
const iconsSet = [
	{ico: "/images/terra-logo.png", alt: "Terra Logo"},
	{ico: "/images/terra-music.png", alt: "Terra Music Logo"},
	{ico: "/images/terra-video.png", alt: "Terra Video Logo"},
	{ico: "/images/terra-delivery.png", alt: "Terra Delivery Logo"},
	{ico: "/images/terra-taxi.png", alt: "Terra Taxi Logo"},
	{ico: "/images/terra-prime.png", alt: "Terra Prime Logo"},
]
const items = ["Dog", "Cat", "Platypus"];
---

<div class="poster">
	<div class="poster__description">
		<h1 class="poster__title">
			Your whole urban life in one subscription.
		</h1>
		<p class="poster__text">
			Listen to music, watch movies, and get incredible discounts
			on delivery, taxi, and even groceries.
		</p>
		<section class="poster__button-section">
			<SubscribeButton client:load text="first month free"/>
			<p class="poster__disclaimer">
				after that it's USD 12 per month
			</p>
		</section>
	</div>
	<div class="icons">
		<div class="icons__icon icons__icon_first">
			<img src={iconsSet[0].ico} alt={iconsSet[0].alt}/>
		</div>
		{iconsSet.slice(1,5).map(icon=>{
			return(
			<div class="icons__icon">
				<img src={icon.ico} alt={icon.alt}/>
			</div>)
		})}
		<div class="icons__icon icons__icon_last">
			<img src={iconsSet[5].ico} alt={iconsSet[5].alt}/>
		</div>
	</div>
</div>

<style lang="sass">
	@use "../styles/colors.sass" as c

	.poster
		display: grid
		justify-content: space-between

		margin-top: 1.5em
		padding: 2em 1.25em

		border-radius: 20px
		background: c.$White
		box-shadow: 2px 2px 8px #D6D6D6

		font-size: 20px

		grid-template-columns: 40% 48%
	.poster__text
		margin: 2em 0 0

		font-size: 16px
		line-height: 22px
	.poster__button-section
		width: max-content
		margin-top: 4em

		font-size: 14px
	.poster__disclaimer
		margin: 2em 0 0

		text-align: center

		opacity: 0.7

		font-size: inherit
	@media screen and (max-width: 1190px)
		.poster
			grid-template-columns: 50% 45%
	@media screen and (max-width: 800px)
		.poster
			background-image: url("/images/logo-background.png")
			background-repeat: no-repeat
			background-position: center
			background-size: 80%

			grid-template-columns: 1fr
		.poster__button-section
			display: flex
			align-items: center
			justify-content: space-between

			width: 100%
		.poster__disclaimer
			width: 50%
			margin: 0
	@media screen and (max-width: 700px)
		.poster
			>*
				text-align: center
		.poster__button-section
			display: grid
			justify-content: center
		.poster__disclaimer
			width: 100%
			margin: 2em 0 0
	@media screen and (max-width: 500px)
		.poster
			padding: 1em 0

			background-image: url("/images/logo-background-square.png")
			>*
				width: 95%
				margin-right: auto
				margin-left: auto

				text-align: center

				text-align: center
</style>

<style lang="sass">
	@use "../styles/colors.sass" as c

	.icons
		display: grid
		align-self: center

		height: 21em

		background-image: url("/images/logo-background.png")
		background-repeat: no-repeat
		background-position: center
		background-size: contain

		font-size: 15px

		grid-template-columns: repeat(3, 1fr)
		grid-template-rows: repeat(2, 1fr)
	.icons__icon
		display: flex
		align-items: center
		justify-content: center

		width: 10em
		height: 10em
		margin-bottom: 1em

		border-radius: 2em
		background-color: #000 //transparentize(c.$LightCyan, 0.7)

		justify-self: center
		backdrop-filter: blur(1em)
		&:nth-child(1), &:nth-child(4)
			justify-self: start
		&:nth-child(3), &:nth-child(6)
			justify-self: end
		img
			width: 66.6%
	@media screen and (max-width: 1190px)
		.icons
			grid-template-columns: repeat(2, 1fr)
		.icons__icon_first, .icons__icon_last
			display: none
	@media screen and (max-width: 800px)
		.icons
			display: none
</style>
